<div class="card  app-card-border">
  <div class="app-card-img rounded" [style.background-image]="'url('+ article.image + ')'">
    <div class="app-content">
      <span>{{article.summary}}</span>
    </div>
  </div>
  <hr>
  <div class="card-body" title="{{article.title}}">
    <h5 class="line-limit-length card-title">{{article.title}}</h5>
    <div class="row">
      <span class="text-muted col text-left">
        <small>{{article.category}}</small>
      </span>
      <span class="text-muted col text-right">
        <small>{{article.date}}</small>
      </span>
    </div>
  </div>
  <div class="card-footer justified row">
    <div class="col text-left">
      <a class="card-link btn" role="button" [routerLink]="['/article/'+article.id]" routerLinkActive="active">
        <span class="fa fa-book text-info"> 阅读 </span>
      </a>
    </div>
    <div class="col text-right">
      <a class="card-link btn" role="button" [routerLink]="['/article/'+article.id]" routerLinkActive="active">
        <span class="fa fa-eye text-danger"> {{article.view}} </span>
      </a>
    </div>
  </div>
</div>