<div class="card  app-card-border app-scale">
  <div class="popular-badge" *ngIf="badge" >
     <img *ngIf="badge=='popular'" width="100" height="100" src="https://raw.githubusercontent.com/wangzhenhui1992/soaringroad-static/master/soaringroad/popular3.png" class="attachment-full size-full" alt="热门文章" >
     <img *ngIf="badge=='newest'" width="100" height="100" src="https://raw.githubusercontent.com/wangzhenhui1992/soaringroad-static/master/soaringroad/newest.png" class="attachment-full size-full" alt="最新文章" >
  </div>
  <div class="app-card-img rounded" [style.background-image]="'url('+ article.image + ')'">
    <div class="app-content">
      <span>{{article.summary}}</span>
    </div>
  </div>
  <div class="card-body" title="{{article.title}}">
    <h5 class="line-limit-length card-title">
      {{article.title}}</h5>
    <div class="row">
      <span class="text-muted col text-left">
        <small>{{article.category}}</small>
      </span>
      <span class="text-muted col text-right">
        <small>{{article.date}}</small>
      </span>
    </div>
  </div>
  <div class="card-footer justified">
    <div class="row">
      <div class="col text-left">
        <a class="card-link fa fa-book text-info" role="button" [routerLink]="['/article/'+article.id]" routerLinkActive="active">
          <span class=""> 阅读 </span>
        </a>
      </div>
      <div class="col text-right">
        <span class="card-link fa fa-eye text-danger" role="button">
          {{article.view}}
        </span>
      </div>
    </div>
  </div>
</div>
