<!-- <div class="header app-hp-header text-center">
  <div class="my-auto mx-auto app-hp-title">
    <h1 class="display-2">
      <span>
        <b>Soaring</b>
      </span>
      <span>
        <b>Road</b>
      </span>
    </h1>
  </div>
</div>
<hr> -->
<div class="col article-panel">
  <div class="row">
    <hr class="my-auto app-hr d-lg-block d-sm-none d-none  col-md-none col-xl-4 col-lg-3">
    <div class="loader mx-auto">
      <div class="face">
        <div class="circle"></div>
      </div>
      <div class="face">
        <div class="circle"></div>
      </div>
      <div class="face">
        <span>SoaringRoad</span>
      </div>
    </div>
    <hr class="my-auto app-hr d-lg-block d-sm-none d-none  col-md-none col-xl-4 col-lg-3">

    <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10 col-11 mx-auto text-center text-primary">
      <br>
      <p> <span>欢迎你 第</span><span class="text-warning">{{view}}</span><span>位 访客!</span></p>
      <br>
    </div>
  </div>

  <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10 col-11 mx-auto text-center text-primary">
      <a
        href="https://cn.aliyun.com/acts/product-section-2019/new-users?spm=5176.11533457.1089570.1.15da77e3OR7w6p&userCode=4hc87dcs">
        <img src="https://img.alicdn.com/tfs/TB1sAhXIMTqK1RjSZPhXXXfOFXa-1180-80.jpg">
      </a>
    </div>
  <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10 col-11 mx-auto">
    <div class="row">
      <div *ngFor="let article of popularArticles" class="col-xl-4 col-sm-6 col-md-6 col-sm-12 my-4 ">
        <app-card [article]="article" [badge]="'popular'"></app-card>
      </div>
    </div>
  </div>

  <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10 col-11 mx-auto">
    <div class="row">
      <div *ngFor="let article of articles;let i = index" class="col-xl-4 col-sm-6 col-md-6 col-sm-12 my-4 ">
        <app-card [article]="article" [badge]="i < 3 ? 'newest' : ''"></app-card>
      </div>
    </div>
    <div class="row">
      <p class="mx-auto">
        <button class="btn btn-outline-primary" (click)="nextPage()">
          <span class="fas fa-angle-double-down"> 加载更多 </span>
        </button>
      </p>
    </div>
  </div>
</div>
<!-- <carousel class="text-center">
  <slide *ngFor="let article of articles"  class="col-xl-3 col-sm-6 col-md-6 col-ms-12 my-4 mx-auto">
      <app-card [article]="article" ></app-card>
  </slide> -->
<!-- <slide>
    <img src="https://static.runoob.com/images/mix/img_fjords_wide.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img src="https://static.runoob.com/images/mix/img_nature_wide.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img src="https://static.runoob.com/images/mix/img_mountains_wide.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide> -->
<!-- </carousel> -->