<div class="container app-container">
  <div class="row app-result-panel" *ngIf="articles &&  articles.length">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" *ngFor="let article of articles">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title line-limit-length">{{article.title}}</h4>
          <p class="card-text line-limit-length">{{article.summary}}</p>
          <a class="card-link btn btn-outline-primary" [routerLink]="['/article/'+article.id]" routerLinkActive="active">View Detail</a>
        </div>
        <div class="card-footer">
            <span class="text-muted"><small>{{article.date}}</small></span>
        </div>
      </div>
    </div>
  </div>
