<app-navbar></app-navbar>
<div class="mx-auto">
  <router-outlet></router-outlet>
</div>
<hr>
<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- <div class="col-4">

      </div>
      <div class="col-4">

      </div>
      <div class="col-4">

      </div>
      <div class="col-4">

      </div> -->
    </div>
  </div>
  <div class="container">
    <div class="row my-4">
      <div class="col-sm-12 text-center text-light">
        <span class="small">Copyright ©2017-2018
          <a href="http://www.soaringroad.com">飞升之路</a> | All rights reserved.</span>
      </div>
    </div>
  </div>
</footer>
