<div class="app-container">
    <div class="col-md-8 mx-auto text-center bg-light text-dark col-sm-11 col-11">
      <article>
        <h1>
          {{title}}
        </h1>
        <section>
          <span class="col"><small>作者:{{author}}</small> </span>
          <span class="col"><small><time> 日期:{{time}} </time></small></span>
          <span class="col"><small>分类:{{category}}</small></span>
        </section>
        <section *ngIf="tags && tags.length > 0">
          <ng-template  ngFor let-item [ngForOf]="tags">
              <a [routerLink]="['/article/tag/'+item]" ><span  class="badge badge-primary">{{item}}</span></a>
          </ng-template>
        </section>
        <hr/>
        <div class="text-left row" [innerHTML]="safeBody" ></div>
      </article>
    </div>
    <div class="col-md-4 d-none d-md-block">
      <!-- todo for menu and ads-->
    </div>
  </div>
