.app-search {
  height:400px;
  background-color: rgb(69, 54, 151)
}
.app-navbar-font {
  font-family: 'Comic Sans MS' !important
}

nav {
  border-bottom-width: 1px !important;
  border-color : #868e96;
}