.myself-container {
  padding: 50px;
  div {
    padding: 10px;
  }
}
.introduction-panel {
  border-width : 1px;
  border-style :  double;
  border-color : #868e96;
  box-shadow: 3px 3px 3px 3px  #807e7e;
}
