<div class="container myself-container">
  <div class="row mx-auto">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mx-auto">
      <img class="img-fluid rounded-circle" src="http://p0.ifengimg.com/pmop/2018/0718/2BA2EDAEE81BFE16670A7FB8A3FF7445F2A708E1_size436_w2784_h1856.jpeg">
    </div>
  </div>
  <div class="row mx-auto ">
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 mx-auto bg-light introduction-panel text-center">
      <h3>
        <span class="text-primary">个</span>
        <span class="text-info">人</span>
        <span class="text-success">简</span>
        <span class="text-warning">介</span>
      </h3>
      <div class="text-center row col mx-auto">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mx-auto row">
            <span class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 text-center text-warning"> 
                <i class="far fa-user mx-0"></i>
              姓名: 王 振荟 
            </span>
            <span class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 text-center text-success"> 
                <i class="fas fa-birthday-cake mx-0"></i>
              生日: 19920130 
            </span>
            <span class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 text-center text-danger"> 
                <i class="fas fa-map-marker-alt mx-0"></i>
              所在地: 东 京
            </span>
        </div>
        <div class="col-xl-11 col-lg-11 col-md-11 col-sm-12 col-12 mx-auto row text-left text-primary">
            <span>工作认真负责，乐观向上，热爱技术，潜力无限，喜欢旅游，尤其是热带亚热带的海景。国外生活多年，所以大爱中华美食，虽然不算大吃货，但也离得不远了。闲暇时会读书，偶尔游游泳，玩玩王者荣耀来放松身心。</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-auto ">
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 mx-auto bg-light introduction-panel text-center">
        <h3>
            <span class="text-primary">个</span>
            <span class="text-info">人</span>
            <span class="text-success">认</span>
            <span class="text-warning">证</span>
        </h3>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mx-auto row">
            <div class="card col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mx-auto">
                <img class="card-img-top" src="https://github.com/wangzhenhui1992/soaringroad-static/blob/master/soaringroad/AWSSAA.png?raw=true" alt="点击查看认证">
                <div class="card-body">
                  <h4 class="card-title">AWS SAA</h4>
                  <a href="https://www.certmetrics.com/amazon/public/badge.aspx?i=1&t=c&d=2019-03-02&ci=AWS00708420" class="btn btn-primary">点击查看</a>
                </div>
            </div>

            <div class="card col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mx-auto">
                <img class="card-img-top" src="https://github.com/wangzhenhui1992/soaringroad-static/blob/master/soaringroad/AliCloudACA.jpg?raw=true" alt="点击查看认证">
                <div class="card-body">
                  <h4 class="card-title">阿里云ACA</h4>
                  <a href="https://edu.aliyun.com/clouder/Certificate/search?type=1&num=ACA01180300014382L" class="btn btn-primary">点击查看</a>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row mx-auto ">
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 mx-auto bg-light introduction-panel text-center">
      <h3>
          <span class="text-primary">在</span>
          <span class="text-info">读</span>
          <span class="text-success">书</span>
          <span class="text-warning">籍</span>
      </h3>
      <br>
      <carousel class="text-center">
        <slide>
          <img  class="mx-auto img-fluid" src="https://gss2.bdstatic.com/9fo3dSag_xI4khGkpoWK1HF6hhy/baike/w%3D268%3Bg%3D0/sign=9bf3662c2c3fb80e0cd166d10eea4813/b8014a90f603738d336d663fbe1bb051f819ec8c.jpg" alt="first slide" style="display: block;">
        </slide>
        <slide>
          <img  class="mx-auto img-fluid" src="https://gss3.bdstatic.com/-Po3dSag_xI4khGkpoWK1HF6hhy/baike/w%3D268%3Bg%3D0/sign=8dbaa65f067b02080cc938e75ae295ee/9d82d158ccbf6c8163b6a212b03eb13532fa4043.jpg" alt="second slide" style="display: block;">
        </slide>
        <slide>
          <img  class="mx-auto img-fluid" src="https://gss2.bdstatic.com/9fo3dSag_xI4khGkpoWK1HF6hhy/baike/w%3D268%3Bg%3D0/sign=c727b12b3201213fcf3349da6cdc51ec/8b82b9014a90f60339ba19b53212b31bb051ed3e.jpg" alt="third slide" style="display: block; ">
        </slide>
      </carousel>
      <br>
    </div>
  </div>

</div>